<% beers.forEach((beer) => { %>
<div class="beer">
  <h4><%=beer.name%></h4>
  <img src="<%=beer.image_url%>" alt="image of beer">
  <p><%=beer.description%></p>
  <h5><%=beer.tagline%></h5>
</div>
<%}); %>