  <div id="container"><img src="/images/beer.png" alt="beer glass">
    <button class="beer-button"><a href="/beers">Check the beers!</a></button>
    <button class="beer-button"><a href="/random-beer"></a>Check a random beer!</a></button>
  </div>